// @import 'fonts';

$blue: #00539f;
$grey: #e5e5e5;
$white: #ffffff;
$black: #333;

@font-face {
    font-family: 'icons';
    src: url(../../fonts/icon/icomoon.eot);
    src: url(../../fonts/icon/icomoon.eot?#iefix) format("embedded-opentype"), url(../../fonts/icon/icomoon.woff) format("woff"),
	url(../../fonts/icon/icomoon.ttf) format("truetype"), url(../../fonts/icon/icomoon.svg#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'tescobold';
    src: url(../../fonts/tescomodernbold/TESCOModern-Bold-web.eot);
    src: url(../../fonts/tescomodernbold/TESCOModern-Bold-web.eot?#iefix) format("embedded-opentype"),url(../../fonts/tescomodernbold/TESCOModern-Bold-web.woff) format("woff"),
	url(../../fonts/tescomodernbold/TESCOModern-Bold-web.ttf) format("truetype"),url(../../fonts/tescomodernbold/TESCOModern-Bold-web.svg#tescobold) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'tescormodernegular';
    src: url(../../fonts/tescomodernregular/TESCOModern-Regular-web.eot);
    src: url(../../fonts/tescomodernregular/TESCOModern-Regular-web.eot?#iefix) format("embedded-opentype"),url(../../fonts/tescomodernregular/TESCOModern-Regular-web.woff) format("woff"),
	url(../../fonts/tescomodernregular/TESCOModern-Regular-web.ttf) format("truetype"),url(../../fonts/tescomodernregular/TESCOModern-Regular-web.svg#tescoregular) format("svg");
    font-weight: 400;
    font-style: normal
}
h3 {
	font: 24px/28px;
}
body {
	font-family: 'tescormodernegular';
	font-size: 10px;
}


$namespace : 'ddl';
$Valuestrip: $namespace + '-value-strip';

a.#{$Valuestrip}{
	text-decoration: none;
	cursor: pointer;
	margin: 1px;
}

// .#{$namespace}-round-icon-bg {
// 	border-radius: 50%;
// }
.#{$namespace}{
	&-round-icon-bg {
		border-radius: 50%;
	}
	&-icon{
		&.#{$namespace}-icon--md {
			width: 40px;
			height: 40px;
		}
	}
	
}
.#{$Valuestrip}{
	display: table;
	background: $grey;
	color: $black;
	font-family: "tescobold";
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	>* {
		display: table-row;
		>* {
			display: table-cell;
			vertical-align: middle;
			line-height: 1em;
		}
	}
	& &_content-top {
		vertical-align: top;
		.#{$namespace}-value-strip_title {
			h5 {
				padding-top: 2px;
			}
		}
	}
	& &_forward-link,
	& &_custom-icon{
		width: 40px;
		>.#{$namespace}-round-icon-bg {
			position: relative;
			background: $blue;
			> svg {
				width: 22px;
				height: 22px;
			}
		}
	}
	& &_forward-link {
		vertical-align: middle;
	}
	& &_custom-icon{
		position: relative;
	}
	& &_title,
	& &_sub-title {
		margin: 0;
	}
	& &_title {
		font-size: 2.2rem;
		padding: 0 0 0 14px;
		// font-size: 22px;
		vertical-align: top;
	}
	& &_sub-title {
		padding: 16px 0 0 16px;		
		font-size: 1.6rem;		
	}
	& &_text {
		text-align: right;
		font-size: 2.8rem;
		padding: 16px;
		font-size: 30px;
		vertical-align: middle;
		max-width: 30%;
		white-space: nowrap;		
	}
	&.inverse {
		background: $blue;
		color: $white;
		
		.#{$namespace}-value-strip_title {
			color: $white;
		}
		
		.#{$namespace}-value-strip_forward-link,
		.#{$namespace}-value-strip_custom-icon  {
			> .#{$namespace}-round-icon-bg {
				background: $white;
				> svg {
					stroke: $blue;
					stroke-width: 2px;
				}
			}
		}
	}
}